ion-title {
    font-family: sans wf, sans-serif;
    font-weight: bolder;
    color: #335C67;
    text-align: center;
}

ion-button {
    font-family: Georgia, serif;
    font-weight: 900;
    font-size: 14px;
    --background: #7CC6FE;
}

ion-toolbar {
    --background: #EAB464;
}