<ion-header>
    <ion-toolbar>
        <ion-title>A propos de moi</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content class="background">
    <h1 class="ion-text-center">Qui suis-je ?</h1>
    <ion-grid>
        <ion-row class="box">
            <ion-col class="ion-margin-top" size="3">
                <img src="/assets/images/kirby.png" alt="">
            </ion-col>
            <ion-col size="9">
                <p>Salut j'suis une petite boule rose qui adore manger :D</p>
            </ion-col>
        </ion-row>
        <div class="box">
            <ion-row>
                <ion-col>
                    <h1 class="ion-text-center">Mon parcours</h1>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <p>Dans Kirby's Dream Land, Kirby avait l'apparence d'une simple boule blanche (en occident ; il est jaune dans la version japonaise)2. Dès les épisodes suivants, il deviendra, comme on le connaît aujourd'hui, rose. En dépit de son apparence
                        mignonne, Kirby possède des pouvoirs qui le mettent en valeur. En effet, la particularité de Kirby est qu'il peut aspirer (tel un aspirateur avec une plus grande puissance) tout ce qu'il voit, que ce soit des objets ou des ennemis.
                        Il peut voler en aspirant de l'air, qu'il recrache ensuite. Il peut également regagner de la vie en mangeant des Maxi-Tomates, des sodas (d'autres nourritures apparaîtront par la suite, lui faisant regagner plus ou moins d'énergie),
                        des sucres d'orge le rendant invincible pendant un temps et, comme dans la plupart des jeux de plates-formes, des bonus lui faisant regagner une vie.</p>
                </ion-col>
            </ion-row>
        </div>

    </ion-grid>
</ion-content>