ion-title {
    color: #335C67;
    text-align: center;
    font-weight: bolder;
}

ion-card {
    height: 168px;
    display: flex;
    align-items: center;
}

ion-toolbar {
    --background: #EAB464;
}