<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="home">
            <ion-icon name="home">
                <ion-label>Home</ion-label>
            </ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="kirbys">
            <ion-icon name="people-outline">
                <ion-label>Kirbys</ion-label>
            </ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="kirby-add">
            <ion-icon name="person-add-outline">
                <ion-label>Kirbys</ion-label>
            </ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="about">
            <ion-icon name="information-circle-outline">
                <ion-label>About</ion-label>
            </ion-icon>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>